alembic
arrow
celery
Flask
Flask-DebugToolbar
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
gunicorn
redis
twilio
python-dotenv

# development
flake8
black
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
