{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block header %}Appointment Reminders with Flask{% endblock %}

{% block content %}
  <h1></h1>
  <p>This demo application will show you how to implement SMS appointment reminders with Twilio in <a href="http://flask.pocoo.org/">Flask</a>.</p>

  <p>
    <a class="btn btn-primary btn-xs" href="/appointment/new">Create a new appointment</a>
    to see how it works!
  </p>

  {% if appointments %}
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Phone number</th>
      <th>Appointment time</th>
      <th>Reminder time</th>
      <th>Timezone</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for appointment in appointments  %}
        <tr>
          <td>{{ appointment.name }}</td>
          <td>{{ appointment.phone_number }}</td>
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.delta }}</td>
          <td>{{ appointment.timezone }}</td>
          <td>
            <form method="POST" action="{{url_for('appointment.delete', id=appointment.id) }}">
              <button type="submit" class="btn btn-danger btn-xs">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="well">
      There are no appointment reminders scheduled.
    </div>
  {% endif %}

{% endblock %}
