{% extends "base.html" %}

{% block title %}New appointment{% endblock %}
{% block header %}New appointment{% endblock %}

{% from "common/_fields.html" import render_field %}
{% block content %}
  <form method="post" class="form-horizontal col-lg-5" action="{{ url_for('appointment.create') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ render_field(form.name) }}
      {{ render_field(form.phone_number) }}
      {{ render_field(form.delta) }}
      {{ render_field(form.time, id="time") }}
      {{ render_field(form.timezone, id="timezone-field") }}

      <button type="submit" class="btn btn-default">Create</button>
    </div>
  </form>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{{ url_for('static', filename='js/datetime-picker.js') }}"></script>
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
{% endblock %}
